@media screen and (max-width: 549px){
/* ====================== Restaurant Listing ====================== */
  #restaurants-list li{
    width:85%;
    padding: 0 15px 25px;
    margin: 25px auto;
    padding: 0 0 25px 0;
    text-align: center;
  }
  .filter-options{
    text-align: center;
    height:auto;
  }

/* ====================== Restaurant Details ====================== */
  .inside{
    display:flex;
    flex-direction: row;
    flex-flow:wrap;
    width:100%;
  }
  #breadcrumb {
    width: 100%;
  }
  .inside #map-container {
    position: relative;
    width: 100%;
    height: 270px;
  }
  #restaurant-container, #reviews-container{
    width: 100%;
  }
  .inside #footer{
    width: 100%;
  }
}




@media screen and (min-width:550px)and (max-width:768px){
/* ====================== Restaurant Listing ====================== */
  #restaurants-list{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    margin: 30px;
    grid-gap: 10px;
    text-align: center;
  }
  #restaurants-list li{
    text-align: center;
  }
/* ====================== Restaurant Details ====================== */
#breadcrumb {
  width: 100%;
}
.inside #map-container {
  position: relative;
  width: 100%;
  height: 270px;
}
#restaurant-container, #reviews-container{
  width: 100%;
}
.inside #footer{
  width: 100%;
}
}

@media screen and (min-width:769px)and (max-width:1024px){
/* ====================== Restaurant Listing ====================== */
  #restaurants-list{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }
  #restaurants-list li{
    text-align: center;
  }

/* ====================== Restaurant Details ====================== */
  #breadcrumb {
    width: 100%;
  }
  .inside #map-container {
    position: relative;
    width: 100%;
    height: 270px;
  }
  #restaurant-container, #reviews-container{
    width: 100%;
  }
  .inside #footer{
    width: 100%;
  }
}

@media screen and (min-width:1025px){
/* ====================== Restaurant Listing ====================== */
  #restaurants-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
  }
  #restaurants-list li{
    text-align: center;
  }

/* ====================== Restaurant Details ====================== */
 
}