
@media screen and (max-width: 549px){

  #breadcrumb{
    width: -webkit-fill-available;
  }
  .inside #map-container{
    position: relative;
    top:130px;
    overflow: hidden;
    height: 350px;
    width: -webkit-fill-available;
  }
  #restaurant-container{
  padding: 140px 20px 10px 20px;
  width: -webkit-fill-available;
  }
  #reviews-container{
  padding: 30px 20px 80px 20px;
  width: -webkit-fill-available;
  }
  .inside #footer{
    width: -webkit-fill-available;
  }
}
@media screen and (min-width:550px)and (max-width:769px){

  #breadcrumb{
    width: -webkit-fill-available;
  }
  .inside #map-container{
    position: relative;
    top:130px;
    overflow: hidden;
    height: 350px;
    width: -webkit-fill-available;
  }
  #restaurant-container, 
  #reviews-container, 
  .inside #footer{
    width: -webkit-fill-available;
  }
}
  @media screen and (min-width:770px)and (max-width:1024px){

  #breadcrumb{
    width: -webkit-fill-available;
  }

  #breadcrumb{
    width: -webkit-fill-available;
  }
  .inside #map-container{
    position: relative;
    top:130px;
    overflow: hidden;
    height: 350px;
    width: -webkit-fill-available;
  }
    #restaurant-container, #reviews-container, .inside #footer{
      width: -webkit-fill-available;
  }
 
  }


  @media screen and (min-width:1025px){

  #breadcrumb{
    width: -webkit-fill-available;
  }

  #restaurant-container, #reviews-container{
    width:44%
  }
    .inside #footer{
      width: -webkit-fill-available;
  }
  }
